$transitionSpeed: 0.1s;
.navLinks:hover {
	text-shadow: 0px 0px 5px white;
	-moz-transition: all $transitionSpeed ease-in;
	-o-transition: all $transitionSpeed ease-in;
	-webkit-transition: all $transitionSpeed ease-in;
	transition: all $transitionSpeed ease-in;
}
