.navBar {
	/* border: 2px solid orange; */
	grid-area: 1/1/1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #141414;
}

.navLinks {
	color: #641ed7d7;
	border: none;
	background: none;
	margin-bottom: 20px;
}
$transitionSpeed: 0.1s;
.navLinks:hover {
	text-shadow: 0px 0px 8px white;
	-moz-transition: all $transitionSpeed ease-in;
	-o-transition: all $transitionSpeed ease-in;
	-webkit-transition: all $transitionSpeed ease-in;
	transition: all $transitionSpeed ease-in;
}
.navLinks:focus {
	outline: none;
}
