.navLinks {
	padding: 0;
	border: none;
	background: none;
}
$transitionSpeed: 0.1s;
.navLinks:hover {
	text-shadow: 0px 0px 5px white;
	-moz-transition: all $transitionSpeed ease-in;
	-o-transition: all $transitionSpeed ease-in;
	-webkit-transition: all $transitionSpeed ease-in;
	transition: all $transitionSpeed ease-in;
}
.navLinks:focus { outline: none; }

.navBar {
	z-index: 100;
	background-image: linear-gradient(rgb(0, 0, 0, 0.9), rgb(255, 255, 255, 0));
}
