.bodyContainer {
	/* border: 2px solid red; */
	display: grid;
	grid-template: 100px 1fr / 100px 1fr 2fr;
	height: 100vh;
}

.leftSection {
	/* border: 2px solid green; */
	color: white;
	grid-area: 1/2/3/2;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	/* align-items: center; */
	padding: 33% 5% 33% 5%;
}
