$formColor: rgb(59, 59, 59);

.formContainer {
	padding: 10px;
}

.formGroup {
	width: 100%;
}

.textBox {
	color: white;
	background-color: $formColor;
	width: 100%;
	padding: 10px;

	outline: none;
	border-style: hidden hidden hidden hidden;
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

input[type='email'] {
	background-color: $formColor !important;
	padding: 10px;
}

textarea {
	min-height: 50px;
	max-height: 500px;
	height: 250px;
}
textarea:focus select:focus {
	outline: none;
	background-color: rgb(50, 50, 50);
}

.formButton {
	color: rgb(126, 126, 126);
}

.resumeButton {
	background-color: #6610f2;
	width: 200px;
	margin-left: 10px;
	margin-top: 25px;
	border: none;
}

.resumeButton:hover {
	background-color: #6f42c1;
}

.resumeButton:focus {
	box-shadow: none;
}
