@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

body {
	background-color: #191919;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}
