@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'bootstrap/dist/css/bootstrap.min.css';

body {
	background-color: #191919;
	overflow: hidden;
}

.route-wrapper {
	position: relative;
}

.route-wrapper > div {
	position: absolute;
}

.pageHeader {
	color: #682dd6;
	font-size: 40px;
	font-weight: bold;
}
